@model RequestsViewModel
@{
    ViewData["Title"] = "Requests";

}
<div id="admin-body">
    <div class="container">
        <div class="row">
            <h4>Requests</h4>
        </div>
        <div class="row">
            <div style="height:50px" id="validation">
                <span id="error" style="color:red">@Model.ErrorMessage</span>
            </div>
        </div>
        <div class="row">
            <h5>Orders</h5>
        </div>
        <div class="row">
            @if (Model.PendingOrders.Count == 0)
            {
                <p>There are no pending orders from Clients..</p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Client</th>
                            <th>Number of Products</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var or in Model.PendingOrders)
                        {
                            <tr>
                                <td>@or.OwnerId @or.Owner.FirstName @or.Owner.LastName</td>
                                <td>@or.TransactionItem.Count</td>
                                <td>@or.Date</td>
                                <td class="currency">@or.Price</td>
                                <td>
                                    <a class="btn btn-outline-info" data-toggle="collapse" href="#collapsive@(or.Id)" aria-expanded="false" aria-controls="collapsive@(or.Id)">Details..</a>
                                </td>
                                <td>
                                    <form asp-controller="Admin" asp-action="AcceptOrder" method="post">
                                        <input asp-for="TransactionId" value="@or.Id" hidden />
                                        <input class="btn btn-info" type="submit" value="Accept" />
                                    </form>
                                </td>
                                <td>
                                    <form asp-controller="Admin" asp-action="DeclineOrder" method="post">
                                        <input asp-for="TransactionId" value="@or.Id" hidden />
                                        <input class="btn btn-info" type="submit" value="Decline" />
                                    </form>
                                </td>

                            </tr>

                            <tr class="collapse" id="collapsive@(or.Id)">
                                <td colspan="2">
                                    <table align="center">
                                        <thead>
                                            <tr>
                                                <th>Address</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                @if (Model.Addresses.FirstOrDefault(a => a.TransactionId == or.Id) == null)
                                                {
                                                    <td>Unknown</td>

                                                }
                                                else
                                                {
                                                    <td>
                                                        @Model.Addresses.FirstOrDefault(a => a.TransactionId == or.Id).Address1
                                                        @Model.Addresses.FirstOrDefault(a => a.TransactionId == or.Id).Number
                                                        @Model.Addresses.FirstOrDefault(a => a.TransactionId == or.Id).City
                                                        @Model.Addresses.FirstOrDefault(a => a.TransactionId == or.Id).Country)
                                                    </td>
                                                }
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td colspan="3">
                                    <table align="center">
                                        <thead>
                                            <tr>
                                                <th>Category</th>
                                                <th>Title</th>
                                                <th>Quantity</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in or.TransactionItem)
                                            {
                                                <tr>
                                                    <td>@item.Item.Category</td>
                                                    <td>@item.Item.Name</td>
                                                    <td> @item.Quantinty @item.Item.UnitType</td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
            <br />
            <h5>Offers</h5>
            <br />
            @if (Model.PendingOffers.Count == 0)
            {
                <p>There are no pending offers from Members..</p>
            }
            else
            {
                <table class="table">
                    <thead>
                        <tr>
                            <th>Member</th>
                            <th>Item</th>
                            <th>Quantity</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var of in Model.PendingOrders)
                        {
                            <tr>
                                <td>@of.OwnerId @of.Owner.FirstName @of.Owner.LastName</td>
                                <td>@of.TransactionItem.First().Item.Name</td>
                                <td>@of.TransactionItem.First().Quantinty @of.TransactionItem.First().Item.UnitType</td>
                                <td>@of.Date</td>
                                <td class="currency">@of.Price</td>
                                <td>
                                    <form asp-controller="Admin" asp-action="AcceptOffer" method="post">
                                        <input asp-for="TransactionId" value="@of.Id" hidden />
                                        <input class="btn btn-info" type="submit" value="Accept" />
                                    </form>
                                </td>
                                <td>
                                    <form asp-controller="Admin" asp-action="DeclineOffer" method="post">
                                        <input asp-for="TransactionId" value="@of.Id" hidden />
                                        <input class="btn btn-info" type="submit" value="Decline" />
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/currencyFormat.js"></script>}
