@model ProductViewModel

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutWithSide.cshtml";
}
<div style="position: absolute; left: 50%;">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        @{ if (Model.CurrentCategory == null)
            {
                <li class="breadcrumb-item active">Products</li>
            }
            else
            {
                <li class="breadcrumb-item "><a asp-controller="Products" asp-action="Index" asp-route-category="" asp-route-productPage="1">Products</a></li>
                <li class="breadcrumb-item ">Category</li>
                <li class="breadcrumb-item active">@Model.CurrentCategory</li>
            }
        }

    </ul>
</div>


@{if (Model.CurrentCategory == null)
    { <h2 class=" text-center ">All Products</h2> }
    else
    {
        <h2 class="text-center text-md-left">@Model.CurrentCategory</h2>
    }
}

        <div class="row ml-auto">
            @*<div class="" style="position:absolute; right:0;">
                <a asp-action="Index" asp-route-sortOrder="Price" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price</a>
                <a asp-action="Index" asp-route-sortOrder="price_desc" asp-route-currentFilter="@ViewData["CurrentFilter"]">Price-desc</a>
            </div>
            <div class="form-group">
                <label for="exampleFormControlSelect1">Example select</label>
                <select  asp-action="Index" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="form-control" id="exampleFormControlSelect1"  method="get">
                    <option value="" (Model.CurrentSorting  == null ? Html.Raw("selected"):Html.Raw("")) >Alphabetically</option>
                    <option value="Price"   @(Model.CurrentSorting  == "Price" ? Html.Raw("selected"):Html.Raw("")) >Price-Ascending</option>
                    <option value="price_desc"  @(Model.CurrentSorting  == "price_desc" ? Html.Raw("selected"):Html.Raw("")) >Price-Descending</option>
                </select>
            </div>*@

            @foreach (var item in Model.Products)
    {

        <div class=" col-12 col-sm-6 col-md-4 col-lg-3 ">
            <div class="card text-center">
                <a asp-action="Product" asp-route-id="@item.BaseItem.Id">
                    <div class="wrapper">
                        <div class="card-img-top" style="background-image:url('@item.BaseItem.Image');height:144px;">
                            @*<img class="" src="" alt="Card image cap">*@
                        </div>
                    </div>
                </a>
                <div class="card-body">
                    <div>
                        <a class="fancy-underline d-inline-block" asp-action="Product" asp-route-id="@item.BaseItem.Id">
                            <h5 class="card-title">@Html.DisplayFor(modelItem => item.BaseItem.Name)</h5>
                        </a>
                    </div>
                    <div>
                        <a class="fancy-underline d-inline-block card-link" asp-route="category" asp-route-category="@item.BaseItem.Category" asp-route-productPage="1"> @item.BaseItem.Category</a>
                    </div>
                    <p class="card-text d-block text-truncate" style="max-width: 150px;">@Html.DisplayFor(modelItem => item.BaseItem.Description)</p>
                    <p class="card-text d-none">@Html.DisplayFor(modelItem => item.BaseItem.Description)</p>
                    <p class="card-text">@Html.DisplayFor(modelItem => item.BaseItem.UnitPrice) / @item.BaseItem.UnitType</p>
                    <div class="custom-position">

                        @if (item.BaseItem.StockQuantity > 0)
                {
                    <span class="fa fa-check-circle-o" aria-hidden="true" data-toggle="tooltip" title="Available"></span>
        }
        else
        {
            <span class="fa fa-times-circle-o" aria-hidden="true" data-toggle="tooltip" title="Unavailable"></span>

}
                    </div>
                    <div class="custom-position-right">
                          @if (item.IsLiked)
    {<a id=@item.BaseItem.Id> <span class="fa fa-heart red" aria-hidden="true" data-toggle="tooltip" title="Add to Wishlist"></span></a>}
else
{ <a id=@item.BaseItem.Id><span class="fa fa-heart grey" aria-hidden="true" data-toggle="tooltip" title="Add to Wishlist"></span></a>}

                    </div>



                    @if (item.BaseItem.StockQuantity > 0)
            {
                <a class="btn btn-secondary w-100" asp-controller="Cart" asp-action="AddToCart" asp-route-itemID="@item.BaseItem.Id" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path.ToString()">Add to <span class="fa fa-shopping-cart "></span></a>
    }
    else
    {
        <a class="btn btn-secondary w-100 disabled">Buy</a>

}

                </div>
            </div>



        </div>
}
            <div class="col-12 mt-4">
                <nav class="btn-group">
                    @* Emfanizoume  ta hyperlinks twn selidwn mono an einai prossoteres apo mia *@
                    @for (int i = 1; i <= Model.PagingInfo.TotalPages && Model.PagingInfo.TotalPages > 1; i++)
            {
                @if (Model.CurrentCategory == null)
        {
            <a class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-primary" : "btn-secondary")" asp-route="pagination" asp-route-productPage="@i">@i</a>
}
else
{
        <a class="btn @(i == Model.PagingInfo.CurrentPage ? "btn-primary" : "btn-secondary")" asp-route="category" asp-route-category="@Model.CurrentCategory" asp-route-productPage="@i">@i</a>
}
    }
                </nav>
            </div>

        </div>
