@model Co_Partnership.Models.Database.Item

@{
    ViewData["Title"] = "Details";
}

<div style="position: absolute; left: 50%;">
    <ul class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item "><a asp-controller="Products" asp-action="Index" asp-route-productPage="1">Products</a></li>
        <li class="breadcrumb-item "><a asp-controller="Products" asp-action="Index" asp-route-productPage="1">Product</a></li>
        <li class="breadcrumb-item active">@Model.Id</li>
    </ul>
</div>

    <div class="row mx-auto">
        <div class="col-12 col-md-6 mb-5 mb-md-0 text-center text-md-left">
            <h2>Details</h2>
            <img class="img-fluid rounded" width="400" src="@Html.DisplayFor(model => model.Image)" />
        </div>

        <div class="col-12 col-md-6 ">
            <h4 class="text-center text-md-left">Item</h4>
            <hr />
            <dl class="row mb-4 text-center">
                <dt class="col-6">
                    @Html.DisplayNameFor(model => model.Name):
                </dt>
                <dd  class="col-6">
                    @Html.DisplayFor(model => model.Name)
                </dd>
                <dt  class="col-6">
                    @Html.DisplayNameFor(model => model.Category):
                </dt>
                <dd  class="col-6">
                    <a class="fancy-underline d-inline-block" asp-route="category" asp-route-category="@Model.Category" asp-route-productPage="1">@Html.DisplayFor(model => model.Category)</a>
                </dd>
                <dt  class="col-6">
                    @Html.DisplayNameFor(model => model.Description):
                </dt>
                <dd  class="col-6">
                    @Html.DisplayFor(model => model.Description)
                </dd>
                @*<dt>
                        @Html.DisplayNameFor(model => model.StockQuantity)
                    </dt>
                    <dd>
                        @Html.DisplayFor(model => model.StockQuantity)
                    </dd>*@

            </dl>

            <div class="d-flex flex-row justify-content-between mt-5">
                <div class="btn-group d-flex" role="group">
                    <a href="" class="btn btn-secondary ">Buy</a>
                    <a href="" class="btn btn-secondary">Like</a>
                </div>
                <a class="btn btn btn-secondary" asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

